
html
{
	height: 100%;
}

div.pointer
{
	font-size: 200%;
	font-family: Courier New;
	font-weight: bold;
	color: #686868;
}

p#error
{
	color:red;
}

p#footer
{
	color: #686868;
	text-align: center;
}

input.textspace
{
	width: 95%;
	height: 40px;
	font-size: 120%;
	padding-left: 10px;
}

input.button
{
	height: 45px;
	width: 100px;
}

table
{
	width: 800px;
	border: 0px none;
}

td.holder
{
	width: 100px;
	text-align: center;
}

td.textspace
{
	width: auto;
	text-align: center;
}

td.button
{
	width: 110px;
	text-align: center;
}

td.foot
{
	text-align: center;
	padding-top: 20px
}

a
{
	color:#686868;
}

a.overlink:hover
{
	color:red;
}

.wrapper
{
	width: 800px;
	min-height: 100%;
	vertical-align: middle;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
}

.footer, .push
{
	margin-top: 5%
}